{% extends  'base.html' %}
{% load static %}
{% block title %}Jesus More - Software Developer{% endblock %}
{% block content %}
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Jesus More</h1>
    <p>I'm <span class="typed" data-typed-items="Software Developer, Freelancer"></span></p>
  </div>
</section><!-- End Hero -->


<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Acerca de Mi</h2>
          <p>Soy un Desarrollador de software </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/perfil.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Backend &amp; Web Developer with Django.</h3>
            <p class="fst-italic">
              Egresado de la Universidad Nacional de Piura
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>                                   
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+51 928726544</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Piura, Peru</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>                  
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>jesus.zmore@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
        

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Resumen</h3>
            <div class="resume-item pb-0">
              <h4>Jesus More</h4>
              <p><em>Softaware Developer</em></p>
              <ul>
                <li>Piura, Peru</li>
                <li>+51 928726544</li>
                <li>jesus.zmore@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Educacion</h3>
            <div class="resume-item">
              <h4>Ingenieria Informatico </h4>
              <h5>2014 - 2019</h5>
              <p><em>Universidad Nacional de Piura.</em></p>
              <p></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experiencia Profesional</h3>
            <div class="resume-item">
              <h4>Backend Developer with DJANGO Rest</h4>
              <h5>2020 - 2021</h5>
              <p><em>Casare, Yopan, Colombia</em></p>
              <ul>
                <li>Diseño de modelos de los diferentes modulos asignados.</li>
                <li>Creacion de Modulos para el proceso de licencias y solicitudes</li>                
                <li>Uso de Herramientas como slack  + github + zoom </li>
                <li>Uso de para testear la API</li>
                                
              </ul>
            </div>
            <div class="resume-item">
              <h4>Practicante Front-END</h4>
              <h5>2019 - 2020</h5>
              <p><em>Castilla, Piura, Peru </em></p>
              <ul>
                <li>Encargado del diseño de Webs a traves de mockups</li>
                <li>Encargado de proyectos web staticos</li>
                <li>Desarrollador y despliegue de proyectos web staticos</li>                
              </ul>
            </div>            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Proyectos realizados en mi carrera como desarrollador de software</p>
        </div>
        {% if user.is_superuser %}
            <a href="{% url 'crear_item' %}" class="btn btn-info">Añadir Proyecto</a>
        {% endif %}


        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>              
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for item in portafolio %}            
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <span>{{ item.title }}</span>
              <div class="portfolio-wrap">
                <img src="{{ item.image_url }}" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="{{ item.image_url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ item.description }}"><i class="bx bx-plus"></i></a>
                  <a href="{{ item.repo_url }}" title="More Details"><i class="bx bx-link"></i></a>
                  
                </div>
              </div>
            </div>    
          {% endfor %}
              

        </div>

      </div>
    </section><!-- End Portfolio Section -->
    
   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Si tienes una idea puedo ayudarte a hacerla realidad. Dejame un mensaje.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Ubicacion</h4>
                <p>Piura, Peru</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>jesus.zmore@gmail.com  </p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+51 589 55488 55s</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3770.566753292591!2d-80.63034034725258!3d-5.194947404458749!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904a1078b21ebf0b%3A0xaae66d37e522d9e1!2sClub%20Grau!5e0!3m2!1ses-419!2sbg!4v1670704808528!5m2!1ses-419!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Nombre completo</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Correo</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Asunto</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Mensaje</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. Muchas Gracias.</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>JesusDev</span></strong>
      </div>
      <div class="credits">
       
        Designed by <a href="https://bootstrapmade.com/">JesusDev</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

 {% endblock %}