{% extends 'portafolio/base_admin_portafolio.html' %}
<h1>??</h1>
{% block content %}
<main id="main">
    <div class="container-fluid">
        <h3> Listado de proyectos </h3>
        <a type="submit" href="{% url 'crear_item' %}"class="btn btn-primary">
            Crear proyecto
        </a>
    </div>
    <div class="container">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Author</th>
                <th>Titulo</th>
                <th>Estado</th>
                <th>Url Repositorio</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                {% for item in items_portafolio%}
                <tr>
                                                       
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                src="{{item.image_url}}"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />
                            <div class="ms-3">
                            <p class="fw-bold mb-1">{{ item.author.get_username }}</p>
                            <p class="text-muted mb-0">{{ item.author.email }}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{ item.title| slice:10 }}...</p>
                        <p class="text-muted mb-0">{{ item.description|slice:15}}...</p>    
                    </td>
                    <td>
                        
                            {% if item.status %}
                            <span class="text-success">Activo</span>
                            {% else %}
                            <span class="text-danger">Inactivo</span>
                            {% endif %}
                        </span>
                    </td>
                        <td> <a href="{{ item.repo_url }}">{{ item.repo_url|slice:20 }}...</a></td>
                    <td>
                        <a type="submit" href="{% url 'edit_proyecto' item.id %}" class="btn btn-outline-warning">
                            Edit
                        </a>
                        <a type="submit" href="{% url 'eliminar_item'  item.id %}"class="btn btn-outline-danger">
                            Eliminar
                        </a>
                    </td>
                
                </tr>        
            {% endfor%}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}